<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8" />
  <title>{% block title %} Administratio diarabi {% endblock %}</title>
  <meta name="keywords" content="{% block motsCles %} {% endblock%}"       />
  <meta name="description" content="{% block description %} {% endblock%}"       />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="icon" href="{{asset('img/favicon.ico')}}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.1/chosen.min.css" rel="stylesheet"   />
    <link  rel="stylesheet" href="{{asset('css/style.css')}}"/>
    <!--   light gallery-->
    <link href="{{ asset('js/lightgallery/dist/css/lightgallery.min.css') }}" type="text/css" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="{{asset('admintemplate/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('admintemplate/css/sb-admin.css')}}" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="{{asset('admintemplate/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="http://vjs.zencdn.net/5.8/video-js.min.css" type="text/css" rel="stylesheet">
      {% block stylesheets %}{% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          {% render(controller('SettingsBundle:Menu:navadmin'))%}

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-sm-12">
                        {% block body%}{% endblock%}
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
      <div class="modalajax"><!-- Place at bottom of page --></div>

    <!-- jQuery -->
    <script src="{{asset('admintemplate/js/jquery.js')}}"></script>
    <script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.1/chosen.jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('admintemplate/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('/js/confirm_pugx.js')}}"></script>
    <script src="{{asset('/js/jquery.collection.js')}}"></script>
    <script src="http://vjs.zencdn.net/5.8/video.min.js"></script>

    <!--   light gallery-->
    <script src="{{asset('js/lightgallery/dist/js/lightgallery.min.js') }}"></script>
      <script src="{{asset('js/lightgallery/dist/js/lightgallery-all.min.js') }}"></script>
    <script src="{{asset('js/lightgallery/dist/js/lg-thumbnail.min.js') }}"></script>
    <script src="{{asset('js/lightgallery/dist/js/lg-fullscreen.min.js') }}"></script>
    <!-- end light gallery -->
    <!--   jsrouting bundle-->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- end jsrouting bundle -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js"></script>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    {% if app.request.session.get('_locale') == 'fr'%}
    <script src="{{asset('js/jquery.timeago.fr.js') }}"></script>

    {% else%}
    <script src="{{asset('js/jquery.timeago.en.js') }}"></script>
    {% endif%}
      <script src="{{ asset('js/comment_article.js') }}"></script>
    <script>
    $().ready(function(){
      $(document).on({
       ajaxStart: function() { $('body').addClass("loading");    },
       ajaxStop: function() { $('body').removeClass("loading"); }
      });
      $('time.timeago').timeago();
      if($('.videocurrenttime').length > 0){
        var video = document.querySelector('.videocurrenttime');
        video.currentTime = 5;
      }

    });
    </script>
    {%block javascripts%}{%endblock%}

</body>

</html>
