
{% if article %}
{% set comments = article.comments%}
{% set photos = article.photos %}
{% set videos = article.videos %}
{% set likes = article.likes%}
{% set article_id = article.id%}
<!--post Timeline-->
<div class="thumbnail thumbnail-post">
    <!--caption-->
    <div class="caption">
        <div class="media">
          <div class="media-left">
            <a href="#" class="image-post">
             <img src="{{gravatar('ishjallal@gmail.com')}}">
            </a>
          </div>
          <div class="media-body">
            <a class="media-heading title-post" href="{{path('oneArticle',{'slug':article.slug})}}">{{article.titre}}</a>
            <h5 class="time-post"><time class="timeago" datetime="{{article.createdAt|date}}"></time></h5>
          </div>
        </div>
      <div class="col-sm-12"> {{article.contenu|raw}}</div>
        <div class="col-sm-12">
      {% if videos and videos|length == 1%}
       {% include 'FrontendBundle:Media:display_single_video.html.twig' with {media: videos|first} %}
      {% endif%}
    </div>
      {% if photos and photos|length == 1%}
      {% set media = photos|first%}
        <div class="col-sm-12"> <img  src="{{media.AssetPath|imagine_filter('large')}}" class="img-responsive" width="100%"  /></div>
      {%else%}

          {% include 'FrontendBundle:Media:photosgallery.html.twig' with {photos: photos} %}

      {% endif%}





    </div><!--#caption-->
    <div class="links-post">
        {% if app.user and article.doesCurrentUserLike(app.user)%}
          <span class="fa fa-thumbs-o-up link-post" id="{{article_id}}">  {{'You'|trans}}</span>
        {% else %}
          <span class="fa fa-thumbs-o-up link-post likebutton pointcursor" id="{{article_id}}"></span>
        {% endif%}
        <a href="" class="link-post "  role="button">Like <span id="likes_article_count_{{article_id}}"> {% if likes and likes|length > 0 %} {{likes|length}} {%else %} 0 {% endif%}</span></a>
        <span class="fa fa-comment link-post"></span><a href="#" class="link-post" data-toggle="collapse" data-target=".allcomments_{{article.id}}" role="button">Comment <span id="comments_article_count_{{article_id}}">{% if comments and comments|length > 0%} {{comments|length}} {%else %} 0 {% endif%}<span>  </a>

    </div>
    <!--  all comments-->
    <div id="{{article_id}}" class="collapse allcomments_{{article_id}}" >
      <!-- commentform-->
      {% if app.user%}
      <div class="media commentform">
              <div class="media-left">
                  <a href="#" class="image-post">
                      <img src="{{gravatar(app.user.email)}}"   >
                  </a>
              </div>
              <div class="media-body">

                   <textarea id="{{article_id}}" placeholder="comment ..." class="facebookbordercolor commentinputarticle" style="width:100%"></textarea>
              </div>
        </div>
        {% endif%}
      <!-- end commentform-->
      {% if comments and comments|length > 0 %}
      {% for comment in comments|reverse%}
          <div class="media" id="comment_{{comment.id}}" >
                  <div class="media-left">

                      <a href="{{path('admin_users_show',{'id':comment.user.id})}}" class="image-post">
                          <img src="{{gravatar(comment.user.email)}}"   >
                      </a>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading">
                        {% if app.user and is_granted('ROLE_ADMIN')%}
                        <a href="{{path('admin_users_show',{'id':comment.user.id})}}" target="_blank">{% if app.user and  comment.user.id == app.user.id%}Moi{%else%}{{comment.user.username}}{% endif%} </a> <small><i><time class="timeago" datetime="{{comment.createdAt|date}}"></time></i></small></h4>

                        <a href="#" class="deletecomment_article pull-right" id="{{comment.id}}"  aria-label="{{article_id}}">&times;</a>
                        {% else %}
                          <a href="#" >{% if app.user and  comment.user.id == app.user.id%}Moi{%else%}{{comment.user.username}}{% endif%} </a> <small><i><time class="timeago" datetime="{{comment.createdAt|date}}"></time></i></small></h4>
                        {% endif%}
                      <p> {{comment.contenu}}</p>

                  </div>
            </div>
            <hr/>

    {% endfor%}
    {%endif%}
</div>
    <!--  end all comments-->
</div>

<!--#post timeline-->

{% endif%}
